<div class="row">
    <div class="col-md-3">
        <!-- <app-book-category></app-book-category> -->
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead class="bg-dark text-light">
                        <tr>
                            <td width="20%">Book Image</td>
                            <td width="50%">Book Details</td>
                            <td width="30%"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cartItem of cartItems">
                            <td>
                                <img [src]="cartItem.imageUrl" alt="" class="img-responsive" width="150" height="200">
                            </td>
                            <td>
                                <p>{{cartItem.name}} </p>
                                <p>{{cartItem.unitPrice}} £</p>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Quantity: {{cartItem.quantity}} </p>
                                    </div>
                                    <div class="col-md-12  ml-2">
                                        <p>Subtotal: {{cartItem.quantity * cartItem.unitPrice}} £ </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <p>Total quantity:{{totalQuantity}} </p>
                                <p>Shipping: FREE</p>
                                <p>Total price: {{totalPrice}} £</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>